.login-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 500px;
}

.background-image {
    background-image: url('cinema-background.jpg');
    /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.promo-section {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.promo-title {
    font-size: 2rem;
    font-weight: bold;
}

.promo-date {
    font-size: 1.5rem;
    margin-top: 10px;
}

.movie-poster {
    margin-top: 20px;
}