body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-group .btn {
    margin: 5px;
}

.content {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
}

.back-link {
    color: red;
}

thead th {
    text-align: center !important;
    vertical-align: middle !important;
    background-color: black;
}