<a href="https://www.youtube.com/watch?v=7BTwfVoP4YY" class="card mb-3 text-black text-decoration-none" style="max-height: 200px;">
	<div class="row g-0">
		<div class="col-md-3">
			<img src="/image/Thumbnail/diadao.jpg"
				class="img-fluid rounded-start" alt="..." style="max-height: 200px; width:100%">
		</div>
		<div class="col-md-9">
			<div class="card-body">
				<h5 class="card-title text-decoration-none">
					<strong>ĐỊA ĐẠO: MẶT TRỜI TRONG BÓNG TỐI</strong>
				</h5>
				<p class="card-text text-decoration-none">TÁC PHẨM KỶ NIỆM 50
					NĂM NGÀY THỐNG NHẤT ĐẤT NƯỚC.</p>
				<p class="card-text text-body-secondary">Xem chi tiết</p>
			</div>
		</div>
	</div>
</a>