<div class="card mb-3" style="max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/image/Thumbnail/Thumbnail Doraemon.jpg" class="img-fluid rounded-start" alt="..."
                style="max-height: 200px;">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">DORAEMON: NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU</h5>
                <p class="card-text">TÁC PHẨM KỶ NIỆM 90 NĂM FUJIKO F FUJIO.</p>
                <p class="card-text"><a href="" class="text-body-secondary">Xem chi
                        tiết</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/image/Thumbnail/Thumbnail Doraemon.jpg" class="img-fluid rounded-start" alt="..."
                style="max-height: 200px;">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">DORAEMON: NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU</h5>
                <p class="card-text">TÁC PHẨM KỶ NIỆM 90 NĂM FUJIKO F FUJIO.</p>
                <p class="card-text"><a href="" class="text-body-secondary">Xem chi
                        tiết</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/image/Thumbnail/Thumbnail Doraemon.jpg" class="img-fluid rounded-start" alt="..."
                style="max-height: 200px;">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">DORAEMON: NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU</h5>
                <p class="card-text">TÁC PHẨM KỶ NIỆM 90 NĂM FUJIKO F FUJIO.</p>
                <p class="card-text"><a href="" class="text-body-secondary">Xem chi
                        tiết</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/image/Thumbnail/Thumbnail Doraemon.jpg" class="img-fluid rounded-start" alt="..."
                style="max-height: 200px;">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">DORAEMON: NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU</h5>
                <p class="card-text">TÁC PHẨM KỶ NIỆM 90 NĂM FUJIKO F FUJIO.</p>
                <p class="card-text"><a href="" class="text-body-secondary">Xem chi
                        tiết</a>
                </p>
            </div>
        </div>
    </div>
</div>