<!DOCTYPE html>
<div class="sidebar bg-white border-end p-3 collapse collapse-horizontal show" id="sidebarCollapse">

	<ul class="nav flex-column">
		<li class="nav-item mb-2"><a href="/admin/" class="nav-link text-black">
				<i class="bi bi-speedometer"></i> Bảng điều khiển
			</a></li>
		<li class="nav-item mb-2"><a href="/admin/accounts-manager" class="nav-link text-black">
				<i class="bi bi-person-fill"></i> Tài khoản
			</a></li>
		<li class="nav-item mb-2"><a href="/admin/branch-manager" class="nav-link text-black">
				<i class="bi bi-house-door-fill"></i> Chi Nhánh
			</a></li>
		<li class="nav-item mb-2"><a href="/admin/showtime-manager" class="nav-link text-black">
				<i class="bi bi-alarm-fill"></i> Suất Chiếu
			</a></li>
		<li class="nav-item mb-2"><a href="/admin/movies-manager" class="nav-link text-black">
				<i class="bi bi-camera-reels-fill"></i> Phim
			</a></li>
		<li class="nav-item mb-2"><a href="/admin/tickets-manager" class="nav-link text-black	">
				<i class="bi bi-ticket-perforated-fill"></i> Vé
			</a></li>
	</ul>
	<hr>
	<div class="mt-auto">
		<p class="text-center"><strong>AMINISTRATOR CONTROLLER</strong></p>
	</div>
</div>
<style>
	.sidebar {
		height: 100%;
		border-left: solid 0px 0px 2px 0px white;
	}
</style>