<!DOCTYPE html>
<div
	class="sidebar bg-white border-end p-3 collapse collapse-horizontal show"
	id="sidebarCollapse">

	<ul class="nav flex-column mt-2">
		<li class="nav-item mb-2"><a href="/admin/"
			class="nav-link text-black"> <i class="bi bi-speedometer"></i>
				Bảng điều khiển
		</a></li>
		<hr>
		<li class="nav-item mb-2"><a href="/admin/accounts-manager"
			class="nav-link text-black"> <i class="bi bi-person-fill"></i>
				Tài khoản
		</a></li>
		<li class="nav-item mb-2"><a href="/admin/tickets-manager"
			class="nav-link text-black	"> <i
				class="bi bi-ticket-perforated-fill"></i> Vé
		</a></li>
		<hr>
		<li class="nav-item mb-2"><a href="/admin/movies-manager"
			class="nav-link text-black"> <i class="bi bi-camera-reels-fill"></i>
				Phim
		</a></li>
		<li class="nav-item mb-2"><a href="/admin/categories-manager"
			class="nav-link text-black"> <i class="bi bi-bookmark-fill"></i>
				Thể loại phim
		</a></li>
		<li class="nav-item mb-2"><a href="/admin/branches-manager"
			class="nav-link text-black"> <i class="bi bi-house-door-fill"></i>
				Chi nhánh
		</a></li>
		<li class="nav-item mb-2"><a href="/admin/rooms-manager"
			class="nav-link text-black"> <i class="bi bi-aspect-ratio-fill"></i>
				Phòng chiếu
		</a></li>
		<li class="nav-item mb-2"><a href="/admin/showtimes-manager"
			class="nav-link text-black"> <i class="bi bi-alarm-fill"></i>
				Suất chiếu
		</a></li>

		<hr>
		<li class="nav-item mb-2"><a href="#"
			class="nav-link text-black	"> <i
				class="bi bi-cup-fill"></i> Đồ ăn
		</a></li>
		<li class="nav-item mb-2"><a href="#"
			class="nav-link text-black	"> <i
				class="bi bi-percent"></i> Mã giảm giá
		</a></li>
	</ul>
	<hr>
	<div class="mt-auto">
		<p class="text-center">
			<strong>AMINISTRATOR CONTROLLER</strong>
		</p>
	</div>
</div>
<style>
.sidebar {
	height: 100%;
	border-left: solid 0px 0px 2px 0px white;
}
</style>